<div class="container">
    <div class="row bs-reset">
                <div class="col-md-6 bs-reset">
                    <div class="login-bg" style="background-image: url(http://2.bp.blogspot.com/-9xNnsKG2iVA/VipCEjh7v8I/AAAAAAAAClc/e-CnHs3v6IA/s1600/ThinkstockPhotos-460930919.jpg)">
                        <img class="login-logo" src="" />
                    </div>
                </div>
                <div class="col-md-6 login-container bs-reset">
                    <div class="login-content">
                        <h1>Real Time Code Collab</h1>
                            <hr />
                        <div class="portlet-title">
                          <div class="header">
                            <h3>Start with a team</h3>
                          </div>
                        
                        </div>   
                        <div class="portlet-body">
                          <form action="javascript:;" class="login-form" method="post">
                              <div class="col-md-4">
                                  <i class="ts_icon ts_icon_plus" >
                                    <label class="control-label">
                                      <button type="button" class="btn btn-primary" (click)="JoinTeam()"> Join an existing team</button></label>
                                  </i> 
                              </div>
                                <div class="row">
                                  <div class="col-sm-4">
                                      <i class="ts_icon ts_icon_plus">
                                        <label class="control-label">
                                          <button type="button" class="btn btn-primary lg" (click)="CreateTeamRedirect()">Create a new team </button></label>
                                      </i>  
                                  </div>
                              </div>
                          </form>
                        </div> 
                        <br>
                        <!-- Create Team FORM -->
                        
                        <!-- Create Team FORM -->
                        
                    </div>
                    <div class="login-footer">
                        <div class="row bs-reset">
                            <!--<div class="col-xs-5 bs-reset">
                                <ul class="login-social">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>-->
                            
                            <div class="col-md-7 bs-reset" style="margin-top: 20%">
                                <div class="login-copyright bottom">
                                    <p>Copyright &copy; THE-WIRE: Produced with Love</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
  $

</script>
<!--<div class="container">
<div class="col-md-12">

    <div class="jumbotron" style="height: 100%; width: 100%">
      <div class="portlet-title">
        <div class="header">
          <h3>Start with a team</h3>
        </div>
      </div>   

      <hr>
      <div class="portlet-body">
        <div class="row col-md-12">
         <hr >
          <div class="col-md-6">
              <i class="ts_icon ts_icon_plus" >
                <label class="control-label">
                  <button type="button" class="btn btn-primary"> Join an existing team</button></label>
              </i> 
          </div>  
        <br />
      
        <hr>
        <div class="col-md-6">
              <i class="ts_icon ts_icon_plus">
                <label class="control-label">
                  <button type="button" class="btn btn-primary lg" >Create a new team </button></label>
              </i>  
          
          </div>
            
      </div>  
      </div> 
      <div class="footer">
        <label class="control-label">&copy;Produced with love: THE-WIRE</label>
      </div>
    </div>
  </div>
</div>-->

