<div class="row">
    <div class="container">
        <div class="col-md-6">
            <form class="Create" action="javascript:;" method="post">
                    <h3 class="font-green">Create Team</h3>
                         <p> Enter your e-mail address and confirm it. </p>
                           <div class="form-group">
                               <input class="form-control placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
                            </div>
            </form>
        </div>   
    </div>        
</div>